<%- include('./partials/header.ejs')%>
    <div class="wrapper">
        <div class="container">
            <div class="jumbotron">
                <h3><b>ABOUT US</b></h3>      
                <p>Trade in your used smartphones with ease. Validate your old phone by submitting your phone specifications. If your trade-in is declined, get your device returned free off cost.</p>
            </div>
            
        </div>
    </div>
<%- include('./partials/footer.ejs')%>