<%- include('./partials/header.ejs')%>
    <div class="wrapper">
        <div class="container big-font">
            <div class="jumbotron">
                <h3><b>CONTACT</b></h3>      
                <p>Trade in your used smartphones with ease. Validate your old phone by submitting your phone specifications. If your trade-in is declined, get your device returned free off cost.</p>
              </div>
             <p> <label> Email ID :</label>
              <span>achellat@unnc.edu</span> 
              </p>
              <p>
              <label> Phone Number :</label> 
              <span>+1 480-616-4320</span>  
            </p> 
              <p>
              <label> Phone-T Office Address : </label>
              <span>82 Oxford Ave.
                Myrtle Beach, SC 29577</span> 
            </p>
            <p> 
              <label> Phone-T Office Hours : </label> 
              <span>8.00 AM - 5.00 P.M</span> 
            </p>
        </div>
    </div>
<%- include('./partials/footer.ejs')%>