<%- include('./partials/header.ejs')%> 
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-4 text-center">
                        <img src="/images/trade-phone.png" alt="trade phone" class="image-item-index" />
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <h4><b>Welcome to the Phone-T, Trade Your smartphone!!</b></h4> 
                        <p> Trade in your used smartphones with ease. Validate your old phone by submitting your phone specifications. If your trade-in is declined, get your device returned free off cost. If your trade-in is approved, buy a brand new smartphone (conditions apply).Now that we accept any type of brands and operating systems. Poodle Series and Ymangzee phones are given preference. Also, checkout the refurbished smartphones in phone-T, that you can exchange without any additional costs.
                        <br /> Every customer receives a gift box worth 50 dollars on their first trade on Phone-T. So gear up and start trading!
                        </p>
                        <div  class=row>
                            <div class="col-md-12 col-sm-12">
                                <h4><b> Steps to Trade-in :</b></h4> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 text-justify">
                                <h5><b> Step 1: Enter Device specifications</b></h5> 
                                <div class="text-center">
                                    <img src="/images/phone-info.png" alt="phone-info" />
                                </div> <br />
                                <p> Enter your smartphone specifications in the 'New Trade' screen using the <b>'Start Trading'</b> link at the top. Please specify additional details in the description box and create your trade. Send your phone to the address Phone-T, Berry County, Bearville, NC </p>
                            </div>
                            <div class="col-md-4 col-sm-4 text-justify">
                                <h5><b> Step 1: Device Inspection Testing</b></h5> 
                                <div class="text-center">
                                    <img src="/images/phone-inspect.png" alt="phone-inspect"  />
                                </div> <br />
                                <p> Your smartphone will undergo spec examination and quality testing by professionals and feed back is shared. If the device gets <b>approved</b> you will receive an email about your new device to be dispatched. If <b>rejected</b> - your device will be returned free of cost. </p>
                            </div>
                            <div class="col-md-4 col-sm-4 text-justify">
                                <h5><b> Step 3: Get New Device with an Offer</b></h5> 
                                <div class="text-center">
                                    <img src="/images/gift-box.png"  alt="offer"/>
                                </div> <br />
                                <p> Get your device exchanged and dispatched along with a gift box worth 50$ free on your first trade. Limited offer valid till <b>March 31 2022</b>. Hurry Up!! Do not miss this incredible offer! </p>
                            </div>
                        </div>
                    </div>     
                </div>
            </div>
        </div>
    <%- include('./partials/footer.ejs') %>
        