<%- include('../partials/header.ejs')%>
        <div class="wrapper">
            <div class="container item-list-box">

                TO BE DESIGNED

                 <br > courts count : 
                 <h1><%= courts.length %> </h1>
                 <a class=""  href="bookings/62766ae59d37086eee7eed8b/new">
                    Court 1
                </a>
                      
                </div>
        </div>
        <%- include('../partials/footer.ejs')%>